.specs
{
  color: #f4a742;
  font-weight: bold;
  font-family: Times;
  font-size: 2.5em;
}
.center-align{
  text-align: center;
  font-family:serif;
}


.Types
{
  color: #4298f4;
  font-size: 2em;
}
.footer
{
  font-size: 1em;
}
